<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<div th:fragment="header">
    <section class="py-1 text-center container">
        <div class="d-flex flex-column flex-md-row align-items-center pb-0 mb-0 border-bottom">
            <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                <span class="fs-4">Black Blog</span>
            </a>
        </div>
    </section>
</div>
<body>

<div>Поиск по пользователю</div>
<div>
    <form method="post" action="filter">
        <input type="text" name="filter" placeholder="Введите имя пользователя" class="form-control">
        <button type="submit">Найти</button>
    </form>
</div>
<br>

<div>
    <form method="post" action="add">
        <input type="text" name="text" placeholder="Введите текст" class="form-control">
        <input type="text" name="userId" placeholder="Введите user id" class="form-control">
        <input type="text" name="replyId" placeholder="Введите reply id" class="form-control">
        <button type="submit">Добавить</button>
    </form>
</div>


<div class="container mt-5">
    <div th:each="element : ${comments}" class="alert alert-info mt-2">
        <p th:text="${element.text}"/>
        <p th:text="${element.reply}"/>
        <p th:text="${element.user}"/>
        <br>
    </div>
</div>



</body>
</html>